page-home {
  ion-content {
    background-image: url('https://i.pinimg.com/736x/b7/de/aa/b7deaa019a28268ae9de6df4aefce398--night-photography-galaxy-photography.jpg');
    background-size: cover;
    background-position-x: 50%;
  }
}
